---
import { agent } from "@/utils";

const { uri } = Astro.props;
const thread = await agent.app.bsky.feed.getPostThread({
  uri,
});
const post = thread.data.thread.post;
---

<li class="grid place-items-left">
  <div class="w-full max-w-md my-2 border rounded p-4 bg-bgColor">
    <div class="flex flex-row items-center">
      <img
        src={post.author.avatar}
        alt={post.author.handle}
        class="w-12 h-12 rounded-full"
      />
      <div class="ml-4">
        <p class="font-medium text-lg">{post.author.displayName}</p>
        <p>@{post.author.handle}</p>
      </div>
    </div>
    <div class="mt-4">
      <p>{post.record.text}</p>
    </div>
    <div class="mt-4">
      <p>
        <a
          href=`https://bsky.app/profile/jacklorusso.com/post/${post.uri.split('app.bsky.feed.post/')[1]}`
          >View post</a
        >
      </p>
    </div>
  </div>
</li>
