---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
// import SocialList from "@/components/SocialList";
import PostPreview from "@/components/blog/PostPreview";
// import BlueskyFeed from "@/components/bluesky-feed/Feed";

import { sortMDByDate } from "@/utils";

const MAX_POSTS = 5;
const allPosts = await getCollection("post", ({ data }) => !data.draft);
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const now: Array<{ title: string; desc: string; href?: string }> = [
  {
    title: "Reading",
    desc: "The Nineties: A Book — Chuck Klosterman",
    href: "https://app.thestorygraph.com/books/7ae2b251-b5d3-4115-998d-301cc4e78538",
  },
  {
    title: "Listening to",
    desc: "Finally We Are No One — múm",
    href: "https://open.spotify.com/album/2XCcnYJJQXYoWm5oc20x9k?si=xyURMYkiQz2x_7JCQti6wA",
  },
  {
    title: "Watching",
    desc: "Nemesis — ABC",
    href: "https://iview.abc.net.au/show/nemesis",
  },
];
---

<PageLayout meta={{ title: "Home" }}>
  <section>
    <h1 class="title mb-6 sm:mb-10 sm:text-5xl" style="line-height: 1.1">
      <div>
        Jack Lo Russo is a{" "}<span class="home-strikethrough"
          >software engineer and designer</span
        >
        <span class="italic text-accent">*teaching student</span>{" "}
      </div>
      <div>from Sydney,&nbsp;Australia.</div>
    </h1>
    <p class="mb-2">
      I'm currently studying a <a
        href="https://www.unsw.edu.au/study/postgraduate/master-of-teaching-secondary?studentType=Domestic"
        >Master of Teaching (Secondary) at UNSW</a
      > — kicking off a career change to be a high school teacher. Before this, I
      worked in tech in various roles at the intersection of development and design;
      software engineer, design technologist, product designer. Most recently I spent
      almost 4 years working on the <a href="https://atlassian.design"
        >Atlassian Design&nbsp;System</a
      >.
    </p>
    <p>Oh yeah. And I’m a huge Sydney and Seattle sports&nbsp;fan&nbsp;⚾️</p>
    <!-- <nav aria-label="Social links">
      <SocialList />
    </nav> -->
  </section>
  <section class="mt-12">
    <div class="flex items-baseline">
      <h2 class="title mb-4 text-xl">Recent writing</h2>
    </div>
    <ul class="space-y-4 sm:space-y-2 h-feed hfeed">
      {
        allPostsByDate.map((p) => (
          <li class="flex flex-col gap-x-2 sm:flex-row h-entry hentry">
            <PostPreview post={p} />
          </li>
        ))
      }
    </ul>
  </section>
  <section class="mt-12">
    <h2 class="title mb-4 text-xl">Now</h2>
    <ul class="space-y-4 sm:space-y-2">
      {
        now.map(({ href, title, desc }) => (
          <li class="flex flex-col gap-x-2 sm:flex-row">
            <p class="min-w-[120px] text-gray-500 dark:text-gray-400">
              {title}:
            </p>

            {href ? (
              <a
                href={href}
                target="_blank"
                rel="noopener noreferrer"
                class="underline"
              >
                {desc}
              </a>
            ) : (
              <span>{desc}</span>
            )}
          </li>
        ))
      }
    </ul>
  </section>
  <!-- <section class="mt-12">
    <h2 class="title mb-4 text-xl">Latest <a href="/posts">micro-blog</a></h2>
    <BlueskyFeed postLimit={1} />
  </section> -->
</PageLayout>
