---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
// import SocialList from "@/components/SocialList";
import PostPreview from "@/components/blog/PostPreview";
// import BlueskyFeed from "@/components/bluesky-feed/Feed";

import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post", ({ data }) => !data.draft);
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const now: Array<{ title: string; desc: string; href?: string }> = [
  {
    title: "Reading",
    desc: "Pachinko — Min Jin Lee",
    href: "https://www.goodreads.com/book/show/34051011-pachinko",
  },
  {
    title: "Watching",
    desc: "Good Omens — Neil Gaiman",
    href: "https://www.imdb.com/title/tt1869454/",
  },
  {
    title: "Listening to",
    desc: "Mos Def & Talib Kweli Are Black Star — Black Star",
    href: "https://open.spotify.com/album/6GRzmk9UGL7odxprOPop1Q?si=DH5ovZG0QGW9xn3gV9VLuA",
  },
];
---

<PageLayout meta={{ title: "Home" }}>
  <section>
    <h1 class="title mb-6">
      Jack Lo Russo is a software engineer and designer from
      Sydney,&nbsp;Australia.
    </h1>
    <p class="mb-4">
      For a lot of my career, I’ve been focused on building, maintaining and
      scaling design systems. I’m currently working on the <a
        href="https://atlassian.design">Atlassian Design System</a
      >. Outside of tech, I’m passionate about education and the arts, and I’m a
      huge Sydney and Seattle sports&nbsp;fan&nbsp;⚾️
    </p>
    <!-- <nav aria-label="Social links">
      <SocialList />
    </nav> -->
  </section>
  <section class="mt-12">
    <div class="flex items-baseline">
      <h2 class="title mb-4 text-xl">Recent writing</h2>
    </div>
    <ul class="space-y-4 sm:space-y-2 h-feed hfeed">
      {
        allPostsByDate.map((p) => (
          <li class="flex flex-col gap-x-2 sm:flex-row h-entry hentry">
            <PostPreview post={p} />
          </li>
        ))
      }
    </ul>
  </section>
  <section class="mt-12">
    <h2 class="title mb-4 text-xl">Now</h2>
    <ul class="space-y-4 sm:space-y-2">
      {
        now.map(({ href, title, desc }) => (
          <li class="flex flex-col gap-x-2 sm:flex-row">
            <p class="min-w-[120px] text-gray-500 dark:text-gray-400">
              {title}:
            </p>

            {href ? (
              <a
                href={href}
                target="_blank"
                rel="noopener noreferrer"
                class="underline"
              >
                {desc}
              </a>
            ) : (
              <span>{desc}</span>
            )}
          </li>
        ))
      }
    </ul>
  </section>
  <!-- <section class="mt-12">
    <h2 class="title mb-4 text-xl">Latest <a href="/posts">micro-blog</a></h2>
    <BlueskyFeed postLimit={1} />
  </section> -->
</PageLayout>
