---
import { SOCIAL_LINKS } from "@/data/constants";
---

<ul class="mb-4 flex gap-4">
  <li>
    <a
      class="no-underline hover:underline"
      href={SOCIAL_LINKS.bluesky}
      target="_blank"
      rel="noopener noreferrer"
    >
      Bluesky
    </a>
  </li>
  <li>
    <a
      class="no-underline hover:underline"
      href={SOCIAL_LINKS.github}
      target="_blank"
      rel="noopener noreferrer"
    >
      Github
    </a>
  </li>
  <li>
    <a
      class="no-underline hover:underline"
      href={SOCIAL_LINKS.linkedin}
      target="_blank"
      rel="noopener noreferrer"
    >
      LinkedIn
    </a>
  </li>
  <li>
    <a
      class="no-underline hover:underline"
      href={SOCIAL_LINKS.readcv}
      target="_blank"
      rel="noopener noreferrer"
    >
      Read.cv
    </a>
  </li>
  <li>
    <a
      class="no-underline hover:underline"
      href={`mailto:${SOCIAL_LINKS.email}`}>Email</a
    >
  </li>
</ul>
